:root {
  --bg-color: #f9e0ce;
  --text-color: #003031;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 8px;
  border-top: 1px solid #cccdcd;
  background-color: var(--bg-color);
}

.header_left {
  display: flex;
  justify-content: center;
  gap: 10px ;
}

.icon_left {
  font-size: 21px;
  width: 40px;
  
}

.icon_left:hover {
    cursor: pointer;
}

.icon_left a {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 160px;
  display: flex;
}
 
.logo :hover {
    cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
}



.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon_right {
  font-size: 21px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.icon_right:hover {
    cursor: pointer;
}

.line {
  border: 1px solid var(--text-color);
  height: 20px;
}

/* navbar */

nav {
    width: 100%;
    height: 100vh;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 200px 8px 200px;
    text-decoration: none;
    list-style-type: none;
    border-top: 1px solid #cccdcd;
    border-bottom:1px solid  #cccdcd;
    color: var(--text-color);

}

.list_item {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
}

.list_item:hover {
    cursor: pointer;
    opacity: 0.9;

}

.list_item_container {
    position: relative;
    height: 100%;
}

.list_item_container::after{
    content: "";
    display: block;
    width: 100%;
    background-color: transparent;
    height: 10px;
    position: absolute;
    top: 20px;

}

/* list_item_select */
.list_item_select {
    position: absolute;
    width: 600px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 10px;
    top: 25px;
    border-radius: 6px;

}

.select_list {
    list-style-type: none;
   

}

.select_item {
    padding: 6px;
}



.list_item  a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.list_item input {
    width: 240px;
    border: 1px solid #cccdcd;
    border-radius: 4px;
    outline: none;
    padding-left: 4px;
}


