/* body */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1170px;
  margin: auto;
}

/* container */
.service {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 35px;
}

.pic_service_first {
  width: 750px;
  height: 500px;
}

.pic_service_first img {
  width: 100%;
  height: 100%;
}

.pic_service_second img {
  width: 360px;
  height: 100%;
  margin-bottom: 20px;
}

.pic_service_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 100%;
}

p {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

/* slogan */
.slogan {
  font-size: 60px;
  padding: 30px 17px 30px 17px;
  background-color: #f5f4f3;
  text-align: center;
  width: 1170px;
  margin-top: 40px;
}
/* container2 */

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  gap: 2px;
  position: relative;
}

.container2:hover {
  cursor: pointer;
}

.service2 {
  width: 320px;
  flex: 1;
}
.service2 img {
  width: 100%;
  height: 100%;
}

.service2_arrow {
  font-size: 16px;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.8);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.service2_arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.service2_arrow i {
  margin-top: 8px;
}

.service2_arrow_left {
  position: absolute;
  left: 10px;
  text-align: center;
}

.service2_arrow_right {
  position: absolute;
  right: 10px;
  text-align: center;
}

/* container3 */

.container3 {
  margin-top: 30px;
  width: 1170px;
}

h2 {
  text-align: center;
  letter-spacing: 1.4px;
  color: #42210b;
  line-height: 1.4;
  margin-bottom: 15px;
  font-size: 25px;
}

.container3_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container3_item :hover {
  cursor: pointer;
}

.pic_service3_left {
  width: 360px;
}

.pic_service3_left img {
  width: 100%;
}

.pic_service3_left img:nth-child(1) {
  margin-bottom: 17px;
}
/* line */
.body_line {
  border: 1px solid rgb(158, 156, 156);
  width: 100%;
  margin-top: 70px;
}

/* container4 */

.container4 {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.container4_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.service4 {
  width: 360px;
  position: relative;
}

.service4:hover .service4_item_detail {
  display: flex;
  transform: translateY(5px);
  visibility: visible;
}

.service4:hover {
  box-shadow: 0px 0px 9px 3px rgba(66, 33, 11, 0.16);
  cursor: pointer;
}

.service4 img {
  width: 100%;
  height: 100%;
}

.service4_item {
  text-align: center;
  height: 60px;
  background-color: white;

  font-weight: 500;
  font-size: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  z-index: 1;
}

.service4_item_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  font-size: 20px;
  left: 33%;
  gap: 15px;
  visibility: hidden;
  transform: translateY(55px);
  transition: all linear 0.2s;
}

.service4_item_detail--heart {
  transform: rotate(-45deg);
  background-color: white;
}

.service4_item_detail--heart:hover {
  transform: rotate(-45deg);
  background-color: var(--bg-color);
}

.service4_item_detail--shop {
  transform: rotate(-45deg);
  background-color: white;
}

.service4_item_detail--shop:hover {
  transform: rotate(-45deg);
  background-color: var(--bg-color);
}

.service4_item_detail--plus {
  transform: rotate(-45deg);
  background-color: white;
}

.service4_item_detail--plus:hover {
  transform: rotate(-45deg);
  background-color: var(--bg-color);
}

.service4_item_detail--heart i {
  width: 32px;
  height: 32px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: rotate(45deg);
}

.service4_item_detail--heart:hover {
  cursor: pointer;
  color: var(--text-color);
}

.service4_item_detail--shop i {
  width: 32px;
  height: 32px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: rotate(45deg);
}

.service4_item_detail--shop:hover {
  cursor: pointer;
  color: var(--text-color);
}

.service4_item_detail--plus i {
  width: 32px;
  height: 32px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: rotate(45deg);
}

.service4_item_detail--plus:hover {
  cursor: pointer;
  color: var(--text-color);
}

/* container5 */

.container5 {
  margin-top: 30px;
  width: 100%;
}

.service5 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.service5_item {
  width: 360px;
}

.service5_item img {
  width: 100%;
}

.service5_item p {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}

/* container6 */

.container6 {
  margin-top: 30px;
}

.paragraph {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
  margin: auto;
  width: 750px;
  line-height: 1.9;
}

.service6_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.service6_item_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
}

.service6_item_more:nth-child(1) {
  opacity: 0.5;
}

.service6_item_more:nth-child(3) {
  opacity: 0.5;
}

.service6_item_more img {
  width: 100%;
}

.service6_item_more p {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 5px;
}

.dot {
  text-align: center;
  margin-top: 10px;
  font-size: 9px;
}

.dot i {
  color: rgb(168, 168, 168);
}

/* container7 */

.container7 {
  margin-top: 40px;
}

.flwtittle {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.flwtittle h2 {
  font-size: 16px;
  font-family: "Antic", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.flwtittle a {
  text-decoration: none;
  color: rgb(134, 119, 119);
  background-color: var(--bg-color);
  height: 32px;
  width: 220px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.flwtittle a:hover {
  cursor: pointer;
}

.service7 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service7:hover {
  cursor: pointer;
}

.service7_left {
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-bottom: 20px;
}

.service7_left-item {
  width: 180px;
  height: 180px;
}

.service7_left-item img {
  width: 100%;
}

.service7_middle {
  width: 390px;
  height: 385px;
  padding-bottom: 20px;
}

.service7_middle img {
  width: 100%;
  height: 100%;
}

.service7_right {
  width: 390px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 20px;
}

.service7_right-item {
  width: 180px;
  height: 180px;
}

.service7_right-item img {
  width: 100%;
}

/* FOOTER */

footer {
  width: 100%;
  background-color: var(--bg-color);
  margin-top: 50px;
}

.footer_logo {
  max-width: 110px;
  margin: auto;
}

.footer_logo img {
  width: 100%;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 75px;
}

.home-list {
  list-style-type: none;
  border-right: 3px solid white;
  padding: 10px 20px 0px 0px;
  height: 360px;
}

.home-list-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
}

.contact-list-left {
  list-style-type: none;
  border-right: 3px solid white;
  padding: 10px 20px 0px 0px;
  height: 360px;
  margin-left: 50px;
}

/* left and right */
.contact-list-item {
  font-size: 12px;
  color: var(--text-color);
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-list-item i {
  margin-right: 5px;
}

.contact-list-item a {
  text-decoration: none;
  color: var(--text-color);
}

.contact-list-item img {
  width: 120px;
}

.center {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 600;
  padding-top: 50px;
  width: 390px;
  height: 360px;
  border-right: 3px solid white;
}

.center p {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 600;
  padding-bottom: 10px;
}

.name {
  position: relative;
}

.name::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid rgb(185, 185, 185);
  width: 90px;
  top: 100%;
  left: 39%;
}

.since {
  padding-top: 10px;
}

p:nth-child(3) {
  font-size: 13px;
  color: rgb(136, 116, 116);
}

.contact-list-right {
  list-style-type: none;
  text-align: center;
  width: 390px;
  height: 360px;
}

/* location  */
.location:hover {
  cursor: pointer;
}

.contact-list {
  font-size: 12px;
  color: var(--text-color);
}

.copyright {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
  color: rgb(112, 54, 54);
}

.copyright span {
  font-weight: 600;
  font-size: 14px;
}

.copyright span:hover {
  cursor: pointer;
}
